@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@1,500&display=swap');
@import "tailwindcss";

:root {
  --main-dark: #101118;
  --cream: #efeee7;
  --grid-grey: #3c4043;
  --alt-dark: #212223;
  --light-grid: #CCCCCC;
  --highlighter-pink: #f497ba;
  --highlighter-blue: #00ffd5;
  --grid-columns: 20;
  --font-ibm-plex: 'IBM Plex Sans', sans-serif;
  --font-stix-two: 'STIX Two Text', serif;
}

@layer base {
  html {
    font-family: var(--font-ibm-plex), sans-serif;
    letter-spacing: 0.05em;
    overflow-y: overlay;
  }
}

@supports (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable both-edges;
  }
}

@media (min-width: 768px) { :root { --grid-columns: 30; } }
@media (min-width: 1024px) { :root { --grid-columns: 40; } }

body {
  background: var(--main-dark);
  color: var(--cream);
  margin: 0;
  min-height: 100vh;
}

.grid-pattern {
  --square-size: calc(100cqw / var(--grid-columns));
  background-image:
    linear-gradient(to right, var(--grid-grey) 1.01px, transparent 1.01px),
    linear-gradient(to bottom, var(--grid-grey) 1.01px, transparent 1.01px);
  background-size: var(--square-size) var(--square-size);
  background-position: 0 0;
  background-repeat: repeat;
}

/* Standard UI styles... */
.Typewriter__cursor {
  color: var(--cream);
  animation: ticker-blink 1s step-end infinite !important;
}
@keyframes ticker-blink { 0%, 100% { opacity: 1; } 50% { opacity: 0; } }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.font-ibm {
  font-family: var(--font-ibm-plex);
}

.font-stix {
  font-family: var(--font-stix-two);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-dark);
  border-left: 1px solid var(--grid-grey);
}

::-webkit-scrollbar-thumb {
  background: var(--grid-grey);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-grid);
  background-clip: content-box;
}

/* CAA 21APR26 / 1709H. */